@import '../../../components/styles/variables.scss';

.shipment_container {
  margin-top: 11rem;
  margin-bottom: 5rem;
  border-radius: 10px; 
  background-color: $storm-white;

  .container {
    margin-left: 5%;
    padding: 2rem 0;
    .shipment_form {
      margin-top: 20px;
      .shipment_form_title {
        text-align: center;
        color: $storm-blue;
        margin: 15px 0;
      }

      form {
        .persons_info {
          display: flex;
          margin-bottom: 15px;
          .persons_details {
            .persons_info_title {
              color: $storm-blue;
            }

            .text {
              margin-right: 15px;
            }
          }
        }

        .select {
          width: 20%;
          margin-right: 15px;
        }

        .item_info {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          align-items: flex-start;

          .select {
            margin-top: 18px;
          }

          .text {
            margin-right: 15px;
          }
        }

        .item_info2 {
          display: flex;
          flex-wrap: wrap;
          // justify-content: space-between;
          align-items: flex-start;

          .select {
            margin-top: 18px;
          }
          .text {
            margin-right: 15px;
          }
        }

        .dates {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          // justify-content: space-between;
          margin: 30px 0;
          .carrier_select {
            width: 20%;
            margin-top: 34px;
            margin-right: 30px;
          }
          .date_item {
            display: flex;
            flex-direction: column;
            margin-right: 30px;
          }
        }
        .bottom_section {
          display: flex;
          justify-content: space-between;
          .left_items {
            width: 60%;
            .country_states {
              .select_country_states {
                display: flex;
                align-items: flex-start;
                .text {
                  width: 20%;
                  margin-top: 2.2rem;
                  margin-left: 8rem;
                }
              }
            }
          }
          .right_items {
            display: flex;
            flex-direction: column;
            width: 40%;
            margin-top: 0;
            .sub_charges {
              display: flex;
              justify-content: center;
              // align-items: center;
              flex-direction: column;
              font-size: $storm-font-size-lg;
              font-weight: $storm-font-weight-bold;
              margin-bottom: 0;
              padding: 1rem;
              border-radius: 10px 10px 0 0;
              color: $storm-blue;
              background-color: $storm-gold;
              p {
                margin: 5px 0;
              }
            }
            .total_charge {
              height: 3rem;
              padding-bottom: 1.5rem;
              padding-left: 1rem;
              margin-bottom: 1rem;
              font-size: $storm-font-size-xl;
              font-weight: $storm-font-weight-bolder;
              border-radius: 0 0 10px 10px;
              color: $storm-white;
              background-color: $storm-blue
            }
          }
        }
        // .country_states {
        //   .select_country_states {
        //     display: flex;
        //     align-items: flex-start;

        //     .text {
        //       width: 20%;
        //       margin-top: 2.2rem;
        //       // margin-left: 8rem;
        //     }
        //   }
        // }
      }
    }
  }
}