@import '../../components/styles/variables.scss';

.homepage {
  .homepage_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .services_main {
      width: 80%;
      background-color: $storm-white;

      .services_text {
        .heading, .sub_heading {
          text-align: center;
        }

        .heading {
          font-size: 3rem;
          text-transform: uppercase;
          color: $storm-blue;

          span {
            color: $storm-gold;
          }
        }

        .sub_heading {
          font-size: $storm-font-size-lg;
        }
      }

      .service_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .service {
          position: relative;
          width: 400px;
          height: 400px;
          border-radius: 50%;
          margin: 10px;
          overflow: hidden;

          .service_background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
          }

          .service_overlay {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 5px;
            padding-left: 100px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: $storm-white;
            background-color: rgba($storm-blue, 0.8);
            width: 100%;
            max-width: 400px;
            height: 400px;
            border-radius: 50%;

            // .service_text {}

            span {
              font-size: $storm-font-size-xxl;
              font-weight: $storm-font-weight-bolder;
              text-decoration: underline;
              white-space: nowrap;
              // margin-bottom: 20px;
            }

            .more {
              display: flex;
              align-items: center;
              font-size: $storm-font-size-lg;
            }
          }

          &:hover {
            .service_overlay {
              background-color: rgba($storm-gold, 0.8);
              color: $storm-black;
            }
          }
        }
      }

      .service_button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
      }
    }
  }
}

// Making the homepage responsive
@media screen and (max-width: 499px) {
  .homepage {
    .homepage_content {
      .services_main {
        width: 90%;
        .services_text {
          .heading {
            font-size: 1.5rem;
          }

          .sub_heading {
            font-size: 1.1rem;
          }
        }

        .service_content {
          flex-direction: column;
          margin-bottom: 10px;

          .service {
            width: 250px;
            height: 250px;
            margin: 10px 0;
            border-radius: 50%;
            .service_overlay {
              span {
                font-size: $storm-font-size-lg;
              }
              .service_text {
                font-size: $storm-font-size-md;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 499px) and (max-width: 768px) {
  .homepage {
    .homepage_content {
      .services_main {
        width: 90%;
        .services_text {
          .heading {
            font-size: 2rem;
          }

          .sub_heading {
            font-size: 1.3rem;
          }
        }

        .service_content {
          flex-direction: column;
          margin-bottom: 10px;

          .service {
            width: 300px;
            height: 300px;
            border-radius: 50%;
            margin: 10px 0;
            .service_overlay {
              height: 450px;
              span {
                font-size: $storm-font-size-xl;
              }
              .service_text {
                font-size: $storm-font-size-lg;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }  
}

@media screen and (min-width: 768px) and (max-width: 1223px) {
  .homepage {
    .homepage_content {
      .services_main {
        width: 90%;
        .services_text {
          .heading {
            font-size: 2rem;
          }

          .sub_heading {
            font-size: 1.3rem;
          }
        }

        .service_content {
          flex-direction: column;
          margin-bottom: 10px;

          .service {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            margin: 10px 0;
            .service_overlay {
              height: 450px;
              span {
                font-size: $storm-font-size-xl;
              }
              .service_text {
                font-size: $storm-font-size-lg;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }  
}

@media screen and (min-width: 768px) and (max-width: 1286px) {
  .homepage {
    .homepage_content {
      .services_main {
        width: 90%;
        .services_text {
          .heading {
            font-size: 2rem;
          }

          .sub_heading {
            font-size: 1.3rem;
          }
        }

        .service_content {
          margin-bottom: 10px;
          padding: 0 15px;

          .service {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            margin: 10px 0;
            .service_overlay {
              height: 500px;
              span {
                font-size: $storm-font-size-xl;
              }
              .service_text {
                font-size: $storm-font-size-lg;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }  
}

// @media screen and (min-width: 1024px) {
//   .homepage {
//     .homepage_content {
//       .services_main {
//         width: 80%;
//         .services_text {
//           .heading {
//             font-size: 2rem;
//           }

//           .sub_heading {
//             font-size: 1.3rem;
//           }
//         }

//         .service_content {
//           margin-bottom: 10px;

//           .service {
//             width: 400px;
//             height: 400px;
//             border-radius: 50%;
//             margin: 10px 0;
//             .service_overlay {
//               height: 450px;
//               span {
//                 font-size: $storm-font-size-xl;
//               }
//               .service_text {
//                 font-size: $storm-font-size-lg;
//                 margin-right: 5px;
//               }
//             }
//           }
//         }
//       }
//     }
//   }  
// }