@import '../../components/styles/variables.scss';

// STYLING FOR CHECKOUT SCREEN
.checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17%;
  margin-bottom: 5%;

  .checkout_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    background-color: $storm-white;
  }
}

// STYLING GET ALL PAYMENTS
.get_payments {
  margin-top: 8rem;
}


// STYLING GET SINGLE PAYMENT
.payment{
  margin-top: 10rem;
  background-color: $storm-white;
}