
// Colors
$storm-blue: #002d75;
$storm-gold: #f0b913;
$storm-red: rgb(255, 0, 0);
$storm-white: rgb(255, 255, 255);
$storm-black: rgb(0, 0, 0);

// Fonts
$storm-roboto: 'Roboto', sans-serif;
$storm-raleway: 'Raleway', sans-serif;
$storm-montserrat: 'Montserrat', sans-serif;
$storm-rubik: 'Rubik', sans-serif;
$storm-teko: 'Teko', sans-serif;

// Font Sizes
$storm-font-size-xs: 0.75rem;
$storm-font-size-sm: 0.875rem;
$storm-font-size-md: 1rem;
$storm-font-size-lg: 1.25rem;
$storm-font-size-xl: 1.5rem;
$storm-font-size-xxl: 2rem;
$storm-font-size-xxxl: 3rem;

// Font Weight
$storm-font-weight-100: 100;
$storm-font-weight-200: 200;
$storm-font-weight-light: 300;
$storm-font-weight-normal: 400;
$storm-font-weight-bold: 500;
$storm-font-weight-bolder: 600;
$storm-font-weight-boldest: 700;
$storm-font-weight-800: 800;
$storm-font-weight-900: 900;
$storm-font-weight-1000: 1000;
